// SCSS for Los Angeles Mountains Mockup
// Tim Knab - August 2018

// Import Oswald Bold and Lato Fonts at necessary Strengths:
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700i,900i|Oswald:400,500,600,700');
$darkBlue: #414f6b;
$lightBlue: #63769d;
$lightGray: #939393;
$scheduleGray: #b0b4be;
html, body {
  height: 100%;
}
.navbar {
  padding: 0% 15% 0% 21% !important;
  ul {
    li {
      text-transform: uppercase;
      font-style: italic;
      font-weight: 300;
      font-size: .74em;
      letter-spacing: 1.7px;
      font-family: 'Lato', sans-serif;
    }
  }
}
.sticky-navigation {
  height: 73px;
}
.bg-white {
  background-color: #fff;
}
.nav-link {
  padding: 0px 0px 1px 0px !important;
  margin: 0px 25px;
}
.section-number,
.section-title {
  font-family: 'Oswald', sans-serif;
}

.section-number {
  font-size: 9.3em;
  font-weight: 600;
  color: #414f6ba1;
  display: inline-block;
}
.section-title {
  text-transform: uppercase;
  font-weight: 600;
  display: inline;
  position: relative;
  bottom: 28px;
  right: 33px;
  font-size: 2.1em;
  color: $darkBlue;
}
.section-text {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
#team {
  div:nth-child(2) {
    p {
      position: relative;
      top: 9px;
      right: 148px;
      margin-right: 9%;
      font-weight: 100;
    } 
  }
}
#climb-column {
  padding-left: 23% !important;
}
.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
  overflow-x: hidden;
  // Hero Image 
  #hero-image {
    background-image: url(../img/los-angeles-mountains-hero-image.jpg);
    background-size: cover;
    background-position: 25% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    div {
      padding-bottom: 48%;
      nav {
        background-color: none !important;
        ul {
          li {
            color: white;
          }
          a {
            color: white !important;
            border-bottom: 1px solid white;
            &:hover {
              color: $darkBlue !important;
              border-bottom-color: $darkBlue;
            }
          }
        }
      }
      ul {
        list-style: none;
      }
    }
  }
  #sticky-nav {
    div {
      ul {
        li {
          color: $darkBlue;
        }
        a {
          color: $darkBlue !important;
          border-bottom: 1px solid $darkBlue;
          &:hover {
            color: $lightGray !important;
            border-bottom-color: $lightGray;
          }
        }
      }
    }
  }
  #history-slider {
    background-image: url(../img/history-mountains-background.jpg);
    background-size: cover;
    background-position: 25% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    div:nth-child(2) {
      margin-top: 27%;
      background-color: #414f6bdb;
      height: 197px;
    }
  }
  #history-text {
    z-index: 100;
    position: absolute;
    width: 795px;
    margin-left: 19%;
    margin-top: 1.5%;
  }
  .slider {
    width: 1600px;
    height: 905px;
    overflow: hidden;
    position: relative;
    ul {
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        position: relative;
        float: left;
        width: 1600px;
        height: 905px;
      }
    }
  }
  #slider-column {
    z-index: -1000;
  }
  #navigation-slider {
    background-color: #414f6bdb;
    height: 197px;
    margin-top: -197px;
  }

  #navigation {
    margin-left: 19%;
    ul {
      list-style: none;
      display: inline-block;
      margin-bottom: 0px;
      li {
        display: inline;
        margin-right: 6px;
      }
    }
    img {
      width: 221px;
      height: 134px;
    }
  }

  #navigation-circles {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    width: 92px;
    position: relative;
    right: 19px;
    margin-bottom: -19px;
    li {
      display: inline-block;
      background-color: #ffffff57;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      margin-right: 3px;
    }
    .selected-circle {
      background-color: white;
    }
  }

  #schedule-navigation {
    background-color: $darkBlue;
    height: 40px;
  }

  #schedule-tabs {
    list-style: none;
    margin-bottom: 0px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.25em;
    color: $scheduleGray;
    a {
      color: $scheduleGray;
      &:hover {
        text-decoration: none;
        color: #fff;
      }
    }
    li {
      display: inline-block;
      color: $darkBlue;
      background-color: $darkBlue;
      padding: 5px 20px;
    }
  }

  .selected-tab {
    background-color: $scheduleGray !important;
    .underline {
      display: block;
      border-bottom: 1px solid $darkBlue;
      position: relative;
      bottom: 2px;
      margin-bottom: -1px;
    }
    a {
      color: $darkBlue !important;
      &:hover {
        color: $darkBlue !important;
      }
    }
  }

  #schedule {
    background-image: url(../img/schedule-mountains-background.jpg);
    background-size: cover;
    background-position: 25% 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    #schedule-box {
      margin: 13% 2% 29% 43%;
      width: 352px;
      padding-left: 6%;
      padding-bottom: 1%;
      padding-top: 2%;
      background-color: #ffffffa3;
      font-family: 'Lato',
      sans-serif;
      h1 {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        color: $darkBlue;
        font-size: 2.2em;
        margin-bottom: 10px;
      }
      table {
        padding-bottom: 2%;
        font-weight: 100;
        tr {
          td {
            border: none;
            padding: .05em;
          }
        }
        .empty-row {
          padding-top: 20%;
          display: block;
        }

      }
    }
  }

  #schedule-accordion {
    display: none;
    border-bottom: 1px solid $lightBlue;
    .card {
      border: 0px;
      h5 {
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
        font-size: 2em;
        padding: 15px;
        display: inline-block;
      }
      .card-header {
        background-color: $scheduleGray;
        color: $darkBlue;
        border: 0px;
      }
      .card-header:after {
        font-family: 'Font Awesome 5 Free';
        font-size: 40px;
        font-weight: 600;
        content: "\f106";
        float: right;
        position: relative;
        margin-right: 13px;
      }
      .card-header.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f107";
      }
      div[aria-expanded="false"] {
        background-color: $darkBlue !important;
        color: $scheduleGray;
      }
      .card-body {
        padding: 0px;
      }
    }
    @media screen and (max-width: 720px) {
      display: block;
    }
  }

  #footer {
    background-color: $darkBlue;
    color: $lightBlue;
    text-transform: uppercase;
    font-style: italic;
    font-family: 'Lato', sans-serif;
    height: 82thepx;
    div {
      height: 81px;
      nav {
        height: 81px;
      }
    }
    p {
      margin: 0px !important;
      font-weight: 900;
    }
    .footer-nav {
      padding: 0% 16% 0% 21% !important;
    }
  }

  @media screen and (max-width: 720px) {
    // Hide schedule tabs:
    #schedule-navigation {
      display: none;
    }
    // Hide tabbed schedule content:
    #schedule-tab-wrapper {
      display: none;
    }
    // 
    #schedule-accordion {
      display: block;
    }

    #schedule-box {
      margin: 0 !important;
    }

  }
}